
%form#sign_in
  = label :user, :email, "Email"
  = text_field :user, :email
  = label :user, :password
  = password_field :user, :password
  = link_to "Sign in", "#", :remote => true, :onclick => "login()"

:javascript
  var token;
  var remote_host = "http://localhost:3000"

  function request_error() {
    $('.alert').append("<p>An error occur, please try again</p>");
  }

  function logged_in_failed(msg) {
    $('.notice').html("");
    $("#sign_in").show();
    $('.alert').append('<p>can not login: ' + msg + '</p>');
  }

  function logged_in() {
    $('.alert').html("");
    $('.notice').append('<p>Logged in</p>');
    $('.notice').append('<a href="' + remote_host + '/companies.json?auth_token=' + token + '">Companies</a>');
    $('.notice').append('<a href="#" onclick="logout()">Sign out</a>');

    $("#sign_in").hide();
  }


  function logged_out() {
    $('.alert').html("");
    $('.notice').html('<p>Logged Out</p>');
    $("#sign_in").show();
  }


  function logged_out_failed() {
    $('.alert').append("<p>can not logout</p>");
  }

  function login() {
    var email = $('#user_email').val();
    var password = $('#user_password').val();
    var data = { remote: true, password: password, email: email };
    $.post(remote_host + '/api/tokens.json', data, function(resp) {
      if(resp.success) {
        token = resp['token'];
        logged_in();
      } else {
        logged_in_failed(resp.message);
      }
    }).error( request_error() );
    return false;
  }

  function logout() {
    var data = { remote: true, _method: 'delete', authenticity_token: token };
    $.post(remote_host + '/api/tokens/' + token + '.json',
      data,
      function(resp) {
        if (resp.success) {
          token = '';
          logged_out();
        } else {
          logged_out_failed();
        }
    }).error( request_error() );
    return false
  }

